.admin-layout {
    display: flex;
    min-height: 100vh;
}

.admin-main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.admin-content {
    flex: 1;
    padding: var(--space-md);
    background-color: var(--color-bg);
}
